#main {
  position: absolute;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
}

#fill,
#tools,
#canvas,
#colors {
  position: absolute;
  background-color: whitesmoke;
}

#draw {
  left: 180px;
  top: 10px;
  position: absolute;
  overflow: hidden;
  min-width: 300px;
  min-height: 200px;
  height: calc(80vh - 100px);
  width: calc(98% - 200px);
}

#tools {
  left: 0;
  top: 0;
  width: 150px;
  height: 100%;
}

#canvas {
  width: 1024px;
  height: 800px;
  left: 0px;
  top: 0px;
}

#tools > div {
  position: relative;
  width: 64px;
  height: 64px;
  border: solid black 1px;
  margin: 1rem;
}

#tools label > div:nth-of-type(1) {
  text-align: center;;
  font-size: 3rem;
  width: 64px;
  height: 64px;
}

#tools input {
  position: absolute;
  opacity: 0;
}

#tools label > div:nth-of-type(2) > div {
  background-color: lightblue;
  margin: 2px;
  width: 64px;
  height: 64px;
  border: solid black 1px;
}

#tools label > div:nth-of-type(2) {
  display: none;
  position: absolute;
  z-index:200;
  top:-3px;
  left:64px;
  width: calc(64px * 4);
  flex-direction: row;
}
#tools label:hover > div:nth-of-type(2) {
  display: flex;
}


input:checked ~ div:nth-of-type(1) {
  box-shadow: 2px 2px 2px red;
}


/*          farger      */

#fill,
#colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  bottom: 60px;
  left: 180px;
  width: 600px;
  height: 50px;
}

#fill {
    bottom: 10px;
}
#fill > div,
#colors > div {
  width: 32px;
  height: 32px;
  margin: 8px;
  background-color: gray;
}

#colors > div:nth-child(1) {
  background-color: red;
}
#colors > div:nth-child(2) {
  background-color: green;
}
#colors > div:nth-child(3) {
  background-color: blue;
}
#colors > div:nth-child(4) {
  background-color: yellow;
}
#colors > div:nth-child(5) {
  background-color: black;
}

#fill > div:nth-child(1) {
  background-color: blue;
}
#fill > div:nth-child(2) {
  background-color: brown;
}
#fill > div:nth-child(3) {
  background-color: pink;
}
#fill > div:nth-child(4) {
  background-color: teal;
}
#fill > div:nth-child(5) {
  background-color: darkslateblue;
}
